<!DOCTYPE html>
<html lang="en" ng-app="dimayor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cliente Angular</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>

    <div class="jumbotron">
        <h1>Cloud Computing</h1>
        <h3>Taller protocolos y tecnologias</h3>
        <h4>Cliente Angular JS</h4>
    </div>

    <div class="container" ng-controller="appController">

        <div class="page-header">
            <h1>DIMAYOR</h1>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <button ng-click="getEquipos()" type="button" class="col-md-2 btn btn-info active">Refresh Table</button>

        </div>

        <table class="col-md-12 table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Año Fundación</th>
                    <th>Cantidad Titulos</th>
                </tr>
            </thead>
            <tbody id="table_equipos_body">
                <tr class="equipo_row" ng-repeat="equipo in equipos">
                    <td>{{equipo.nombre}}</td>
                    <td>{{equipo.anoFundacion}}</td>
                    <td>{{equipo.cantTitulos}}</td>
                </tr>
            </tbody>
        </table>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/popper.js/dist/umd/popper.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
</body>

</html>